<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Israel Defense forces</h2>
        <p>Olá, <strong><%= username %></strong>!</p>
        <a href="/logout">Sair</a>
    </div>
</body>
</html>