
apiVersion: v1
kind: Service
metadata:
  # Nome do nosso Service do NGINX.
  name: nginx-service
spec:
  # NodePort é o tipo que permite acessar o serviço de fora do cluster (via 'minikube service').
  type: NodePort
  selector:
    # Este seletor encontra os Pods com a label 'app: nginx-proxy' para direcionar o tráfego.
    app: nginx-proxy
  ports:
    # Mapeia as portas. Requisições na porta 80 do serviço serão enviadas para a porta 80 do container.
    - port: 80
      targetPort: 80
      protocol: TCP